/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

header {
    /* background-color: #333;
    color: white; */
    /* padding: 20px; */
    
    margin: 0px;
}

.logo{
    width: 8em;
    height: auto;
}

/* .contenedor-imagen {
    background-color: aqua;
    width: 100%; */
    /* height: 90vh; Esto es solo un ejemplo, puedes ajustar la altura según sea necesario */
    /* display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
    
} */

/* .contenedor-imagen img { */
    /* width: 100%; La imagen ocupará todo el ancho del contenedor */
    /* height: auto; Esto asegura que la altura se ajuste automáticamente para mantener la relación de aspecto original */
    /* display: block; Elimina cualquier espacio extra alrededor de la imagen */
/* } */

/* .contenedor-imagen img { */
    /* max-width: 100%; Para asegurarse de que la imagen no desborde su contenedor */
    /* max-height: 100%; Para asegurarse de que la imagen no desborde su contenedor */
/* } */


nav ul {
    /* list-style-type: none;
    margin: 0;
    padding: 0; */
}

nav ul li {
    /* display: inline;
    margin-right: 20px; Espaciado entre elementos de la lista */
    /* padding: 10px; */
}

nav ul li a {
    text-decoration: none; /* Elimina el subrayado predeterminado de los enlaces */
    color: #b4b4b4; /* Color del texto */
    font-size: 1em; /* Tamaño de la fuente */
}

nav ul li a:hover {
    text-decoration: underline; /* Subrayado al pasar el cursor sobre el enlace */
    color: #ff0000; /* Cambia el color del texto al pasar el cursor sobre el enlace */
}

/*a {
    color: #ccc;
}*/
main {
    padding-bottom: 2em;
    display: grid;
    justify-content: center; 
}

section {
    height: 100vh;
    
    margin-bottom: 1.5em;

}

#servicios, #acerca, #contacto  {
    padding: 3rem;
}

#inicio{
    width: 100%;
    background-image: url(ing/OIG3\ \(1\).jpg);
    background-size: 100% 100%;
    color: rgba(255, 255, 255, 0.918);
    
}

.marcotexto{
    background-color: rgb(0, 0, 0, .8);
    width: 30em;
    height: 10em;
    margin-top: 8em;
    margin-left: 8em;
    
}



h2 {
    text-decoration: solid;
    text-align: center;
}

footer {
    background-color: #333;
    color: rgb(232, 225, 225);
    padding: 2em;
    text-align: center;
}

footer a i{
    color: rgb(230, 237, 230);
}

.fab.fa-youtube:hover{
    color: red;
}

.fab.fa-whatsapp:hover{
    color:green;
}

.fab.fa-linkedin:hover{
    color:rgb(31, 123, 176)
}

.fab.fa-twitter:hover{
    color:blue;
}

.contacto-footer{
    font-size: 2.5em;
}



/* Estilos del formulario de contacto */
form {
    width: 35em;
    /* margin: 0 auto; */
}

/* form div {
    margin-bottom: 1em;
} */

/* form label {
    display: block;
} */

#nombre, #email,
form select {
    width: 100%;
    height: 2.5em;
    margin-bottom: 1em;
    /* box-sizing: border-box; */
    border: 1px solid #8d8d8d;
    border-radius: 0.1em;
}

form textarea{
    /* padding-bottom: 5em; */
    width: 100%;
    height: 10em;
    /* margin-bottom: 1em; */
    /* box-sizing: border-box; */
    border: 1px solid #8d8d8d;
    border-radius: 4px;
}

form button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

.checklabel{
    display: inline-block;

}

/* .selectMotivo{
    margin-top: 0.1em;
} */
/* #suscripcion{
    display: inline-block;
} */


/* Estilos responsivos */
@media screen and (min-width: 768px) {
    /* header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    } */

    /* nav ul {
        display: flex;
    }

    nav ul li {
        margin-right: 0;
    } */

    main {
        display: grid;
        justify-content: center;
        flex-wrap: wrap;
    }

    /* section {
        flex: 1;
        margin-right: 20px;
    } */
}

@media screen and (min-width: 992px) {
    /* main {
        padding: 20px 50px;
    } */
}

@media screen and (min-width: 1200px) {
    /* main {
        padding: 20px 100px;
    } */
}
